$body-bg: #ffffff;
$white: #ffffff;
$off-white: #f5f7f8;
$white-trans: #ffffff, .25;
$black: #000000;
$black-trans: #000000, .25;
$primary: #55EFC4;

$secondary: #636E72;
$danger: #D63031;
$success: #00B894;
$warning: #FDCB6E;
$info: #00C9BD;
$dark: #636E72;
$gray: #CCCCCC;